In [21]:
ticker = "INX-24APR05-B5237"

In [5]:
from data.coledb.coledb import ColeDBInterface


db = ColeDBInterface()

data = db.read_bbo_df(ticker)

In [8]:
import matplotlib.pyplot as plt

nonan = data.dropna()

In [9]:
nonan

                 ts  yes_bid_price  yes_bid_qty  yes_ask_price  yes_ask_qty
0      1.712237e+09           18.0     100000.0           22.0     100000.0
2      1.712237e+09           19.0     100000.0           22.0     100000.0
4      1.712237e+09           18.0     100000.0           22.0     100000.0
6      1.712237e+09           19.0     100000.0           22.0     100000.0
8      1.712237e+09           18.0     100000.0           22.0     100000.0
...             ...            ...          ...            ...          ...
54108  1.712347e+09            1.0        400.0            4.0        500.0
54109  1.712347e+09            1.0        400.0            4.0        200.0
54110  1.712347e+09            1.0        200.0            4.0        200.0
54111  1.712347e+09            1.0        200.0            4.0        200.0
54112  1.712347e+09            1.0        200.0            4.0        600.0

[52948 rows x 5 columns]